header img {
    width: 100%;
}

nav {
    background-color: rgb(59, 59, 59);
    justify-content: center;
    border: 2px solid black !important;
    display: flex;
}

nav a {
    color: rgb(0, 0, 0) !important;
    margin: 10px;
    text-decoration: none;
    font-weight: 900;
    font-family: 'Arial'; 
}

nav :hover {
    text-decoration: underline;
    color: rgb(146, 146, 146) !important;
}

body {
    background-image: url(images/background.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    font-family: 'Arial';
}

html body {
    color: rgb(0, 0, 0);
}

.flex-container {
   display: flex;
   flex-direction: column;
   width: 70%;
   margin: 50px auto;
}

.main-content {
    background-color: rgb(97, 97, 97);
}

.side-bar {
    background-color: rgb(146, 146, 146);
    display: flex;
    flex-direction: column;
}

.side-bar img {
    width: 100%;
}

.main-content img {
    width: 100%
}

.side-bar, .main-content {
    padding: 2%;
    border-radius: 5px;
    box-shadow: 2px 2px 1px rgb(85, 85, 85);
    
}

footer {
    text-align: center;
}

.custom-rounded {
    border-radius: 5px;
}

/* Media Queries */

@media screen and (min-width: 769px){
    .flex-container {
        display: flex;
        flex-direction: row;
    }
}

@media screen and (min-width: 769px){
    .main-content {
        width: 70%;
    }

    .side-bar {
        width: 28%;
        margin-left: 2%;
    }
}

@media screen and (min-width: 769px) {
    .image-container {
        display: flex;
        flex-direction: row;
    }
}


.second-container {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 30px auto;
}

.title {
    background-color: rgb(97, 97, 97);
    padding: 2%;
    border-radius: 5px 5px 0 0;
    box-shadow: 2px 2px 1px rgb(85, 85, 85);
}

.image-container {
    padding: 2%;
    background-color: rgb(146, 146, 146);
    border-radius: 0 0 5px 5px;
    box-shadow: 2px 2px 1px rgb(85, 85, 85);
}

.second-container img {
    width: 100%;
}

.third-container {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 30px auto;
}

.iframe-container {
    padding: 2%;
    background-color: rgb(146, 146, 146);
    border-radius: 0 0 5px 5px;
    box-shadow: 2px 2px 1px rgb(85, 85, 85);
}

.third-container iframe {
    width: 100%;
}

.bg-darkgrey {
    background-color: rgb(97, 97, 97);
    box-shadow: 2px 2px 1px rgb(85, 85, 85);
}

.bg-lightgrey {
    background-color: rgb(146, 146, 146);
    box-shadow: 2px 2px 1px rgb(85, 85, 85);
}